<div class="h-16 flex items-center border-b-2 border-slate-400 mb-4">
    <div class="flex items-center" id="chat_info_header">
        {% if chat.photo %}
            <img class="mr-3 w-10 h-10 relative flex justify-center items-center rounded-full" src="{{ chat.photo }}" alt="{{ chat.name }}">
        {% else %}
            <script>
                let chat_info_header = document.getElementById('chat_info_header');
                let generated_chat_info_header_img = document.createElement('div');
                let generated_chat_info_header_img_background = stringToColour('{{ chat.name }}');
                generated_chat_info_header_img.className = `mr-3 w-10 h-10 relative flex justify-center items-center rounded-full text-xl text-white uppercase bg-[${generated_chat_info_header_img_background}]`;
                generated_chat_info_header_img.innerHTML = '{{ chat.name.0 }}';
                chat_info_header.appendChild(generated_chat_info_header_img);
            </script>
        {% endif %}
        <a class="text-xl font-bold" href="{% url 'chat_content' chat_id=chat_id %}"><h3>{{ chat.name }}</h3></a>
    </div>
</div>