<div class="w-8/12 ml-2">
    {% include 'messenger/chat_header.html' %}
    <div class=" overflow-x-hidden overflow-y-auto h-[800px] no-scrollbar bg-slate-100 p-2 m-3 my-4 " id="message-block">
        <input class="border-b-2 border-slate-400 w-full" id="load-messages" type="button" value="load more">
    </div>
    <div class="flex p-3 border-t-2 border-slate-300">
        <div class="w-full my-1 h-fit border-slate-300 rounded-md bg-slate-200 flex">
            <textarea class="self-center w-full h-fit focus:outline-none p-2 px-3 rounded bg-slate-200 no-scrollbar" maxlength="1000" rows="2" id="chat-message-input" type="text"></textarea>
            <button id="chat-message-submit"  type="button" class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-200 ease-in-out text-slate-700 hover:text-white bg-slate-200 hover:bg-slate-600 focus:outline-none">
{#               <span class="font-bold">Send</span>#}
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 transform rotate-90">
                  <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
               </svg>
            </button>
        </div>
    </div>
    {{ chat_id|json_script:"chat-id" }}
</div>

<script>
    let page = 1;
    let active_user_username = '{{ user.username }}';
    const chatId = JSON.parse(document.getElementById('chat-id').textContent);
    let next_page_url = '{% url 'message-chat-messages-list' %}' + '?chat_id=' + chatId + '&page=' + page;
    let messageBlock = document.getElementById("message-block");
    let loadMessages = document.getElementById("load-messages");

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/chat/'
        + chatId
        + '/'
    );
    function addMessage(message, after_element=null) {
        let timestamp = new Date(Date.parse(message['timestamp']));
        timestamp = timestamp.toLocaleTimeString([], { hour12: false, hour: '2-digit', minute: '2-digit' });
        let user_avatar_url = message['user']['profile']['photo'];

        let user_avatar_element
        if (user_avatar_url){
            user_avatar_element = `<img class="self-end shrink-0 m-1 mr-4 mt-3 w-10 h-10 relative flex justify-center items-center rounded-full" src="${ user_avatar_url }" alt="${message['user']['username'][0]}">`;
        }
        else {
            console.log(message['user']['username']);

            user_avatar_element = `<div class="self-end shrink-0 m-1 mr-4 mt-3 w-10 h-10 relative flex justify-center items-center rounded-full text-xl text-white uppercase bg-[${stringToColour(message['user']['username'])}]">${message['user']['username'][0]}</div>`;
        }

        let message_element = "";

        if (message['user']['username'] != active_user_username) {
            message_element = `{% include 'messenger/message.html' %}`;
        }
        else {
            message_element = `{% include 'messenger/message_from_self.html' %}`;
        }

        if (after_element == null) {
            $('#message-block').append(
               message_element
            )
        }
        else {
            $(after_element).after(
                message_element
            )
        }
    }
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        addMessage(data);
        messageBlock.scrollTop = messageBlock.scrollHeight;
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const text = messageInputDom.value;
        if (text.length < 1) {
            return;
        }
        chatSocket.send(JSON.stringify({
            'text': text
        }));
        messageInputDom.value = '';
    };
    loadMessages.onclick = function(e) {
        if (next_page_url === null) {
            return;
        }
        $.ajax({
            url: next_page_url,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                if ('next' in data) {
                    next_page_url = data['next'];
                }
                else {
                    next_page_url = null;
                }
                for (let i = 0; i < data.results.length; i++) {
                    addMessage(data.results[i], loadMessages);
                }
                page += 1;
            }
        });
    };

    $.ajax({
        url: next_page_url,
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            if ('next' in data) {
                next_page_url = data['next'];
            }
            else {
                next_page_url = null;
            }
            for (let i = 0; i < data.results.length; i++) {
                addMessage(data.results[i], loadMessages);
            }

            setTimeout(() => {
                messageBlock.scrollTop = messageBlock.scrollHeight;
            }, 1)
        }
    });
</script>