{% extends 'messenger/base.html' %}

{% block side_panel %}
    {% include 'messenger/chats_list.html' %}
{% endblock %}

{% block content %}
    <div class="w-8/12 ml-2">
        {% include 'messenger/chat_info_header.html' %}
        <div class="w-3/4 m-auto p-3 rounded bg-slate-100 shadow">
            <p class="text-xl">Members</p>
            <div class="flex flex-col">
                <script>
                    let avatar_div;
                    let generated_avatar_img;
                    let generated_avatar_img_background;
                </script>
                {% for chat_member in chat.users %}
                    <div class="my-1">
                        <div class="flex flex-col items-center justify-center w-full">
                            <a href="#" class="bg-slate-200 w-full p-2 shadow-md rounded">
                                <div class="flex items-center border-gray-700">
                                    <div class="flex items-start justify-between w-full">
                                        <div id="avatar_div_{{ chat_member.id }}" class="flex items-center ">
                                            <div>
                                                {% if chat_member.profile.photo %}
                                                    <img class="self-end shrink-0 m-1 mr-4 mt-3 w-10 h-10 relative flex justify-center items-center rounded-full" src="{{ chat_member.profile.photo }}" alt="{{ chat_member.username.0 }}">
                                                {% else %}
                                                    <script>
                                                        avatar_div = document.getElementById('avatar_div_{{ chat_member.id }}');
                                                        generated_avatar_img = document.createElement('div');
                                                        generated_avatar_img_background = stringToColour('{{ chat_member.username }}');
                                                        generated_avatar_img.className = `self-end shrink-0 m-1 mr-4 mt-3 w-10 h-10 relative flex justify-center items-center rounded-full text-xl text-white uppercase bg-[${generated_avatar_img_background}]`;
                                                        generated_avatar_img.innerHTML = '{{ chat_member.username.0 }}';
                                                        avatar_div.appendChild(generated_avatar_img);
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <p class="self-center text-l font-medium leading-5 text-gray-800 ">{{ chat_member.username }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="my-1">
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="bg-slate-200 w-full p-2 shadow-md rounded flex items-center justify-between border-gray-700">
                        <div class="w-3/4">
                            <div class="inline">
                                <form method="post" name="add-user">
                                    {% csrf_token %}
                                    <input class="rounded w-2/3 p-2" type="text" name="username" placeholder="Username">
                                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-100">Add user</button>
                                </form>
                            </div>
                        </div>
                        <div class="">
                            <button id="leave-chat-button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-100">Leave chat</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <div class="flex flex-col items-center justify-center w-full">
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#leave-chat-button').click(function() {
            $.ajax({
                url: "{% url 'chat-leave-chat' pk=chat_id %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data) {
                    window.location.href = "{% url 'home' %}";
                }
            });
        });

        $('form[name="add-user"]').submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var data = form.serialize();
            $.ajax({
                url: "{% url 'chat-add-user' pk=chat_id %}",
                type: "POST",
                data: data,
                success: function(data) {
                    window.location.href = "{% url 'chat_info' chat_id=chat_id %}";
                }
            });
            window.location.href = "{% url 'chat_info' chat_id=chat_id %}";
        });
    </script>
{% endblock content %}