{% extends 'messenger/base.html' %}

{% load socialaccount %}

{% block header %}
    {%  include 'messenger/header.html' %}
{% endblock %}

{% block content %}
    <div class="w-1/3 m-auto bg-slate-50 rounded p-2 pb-5 mb-3">
        <p class="text-2xl font-medium text-center m-3 mb-5">Login</p>
        <div class="m-auto">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <div class="mb-6">
                        <input
                                {% if field.name == 'password' %}
                                    type="password"
                                {% else %}
                                    type="text"
                                {% endif %}
                                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                    placeholder="{{ field.label }}"
                                    id="{{ field.id }}"
                                    name="{{ field.name }}"
                        />
                    </div>
                {% endfor %}
                <!-- Email input -->
                <div class="flex flex-row-reverse mb-6">
                    <a
                            href="#!"
                            class="text-slate-600 hover:text-gray-700 focus:text-gray-700 active:text-gray-800 duration-200 transition ease-in-out"
                    >Forgot password?</a>
                </div>
                <!-- Submit button -->
                <button
                        type="submit"
                        class="inline-block px-7 py-3 bg-slate-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                >
                    Sign in
                </button>

                <div
                        class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
                >
                    <p class="text-center font-semibold mx-4 mb-0">OR</p>
                </div>
                <div class="socialaccount_ballot">

                </div>

                <div>
                    <a
                            type="submit"
                            class="bg-red-700 px-7 py-3 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full flex justify-center items-center mb-3"
                            href="{% provider_login_url 'google' %}"
                    >
                        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                        Continue with Google
                    </a>
                </div>
            </form>
        </div>
        {% if form.errors %}
            <p style="color: red">Your username and password didn't match. Please try again.</p>
        {% endif %}
    </div>
{% endblock %}