<div class="my-3 mx-1 w-full flex flex-row-reverse">
{#    <div class="self-end shrink-0 m-1 ml-4 mr-2 w-10 h-10 relative flex justify-center items-center rounded-full bg-orange-500 text-xl text-white uppercase">{{ user.username.0 }}</div>#}
    <div class="shadow rounded-3xl rounded-br-none px-6 py-3 bg-slate-200 mb-2 mr-1">
{#        <div class="bg-slate-300 rounded-t">#}
{#            <div class="inline ">${message['user']['username']}</div>#}
{#            <div class="inline float-right text-xs">${timestamp}</div>#}
{#        </div>#}
        <div class="max-w-prose break-words">${message['text']}</div>
    </div>
    <span class="mb-2 mx-2 self-end text-xs text-slate-700">${timestamp}</span>
</div>